Repository apache/ambari-logsearch, pull requests merged in 2018-12, with the labels that each got.

#53 AMBARI-23456. Generate markdown docs from internal annotations.
  Makefile
  ambari-logsearch-docs/pom.xml
  ambari-logsearch-docs/src/main/java/org/apache/ambari/logsearch/doc/AbstractDescriptionData.java
  ambari-logsearch-docs/src/main/java/org/apache/ambari/logsearch/doc/LogSearchMarkdownGenerator.java
  ambari-logsearch-docs/src/main/java/org/apache/ambari/logsearch/doc/PropertyDescriptionData.java
  ambari-logsearch-docs/src/main/java/org/apache/ambari/logsearch/doc/ShipperConfigDescriptionData.java
  ambari-logsearch-docs/src/main/java/org/apache/ambari/logsearch/doc/ShipperConfigDescriptionDataHolder.java
  ambari-logsearch-docs/src/main/resources/log4j2.xml
  ambari-logsearch-docs/src/main/resources/templates/logfeeder_properties.md.ftl
  ambari-logsearch-docs/src/main/resources/templates/logsearch_properties.md.ftl
  ambari-logsearch-docs/src/main/resources/templates/shipper_configurations.md.ftl
  ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederProps.java
  ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/output/S3OutputConfig.java
  ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/PropertyDescriptionStorage.java
  ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/ShipperConfigDescriptionStorage.java
  ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/doc/DocConstants.java
  ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/InfoManager.java
  ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/rest/InfoResource.java
  docs/.keep
  pom.xml
Labels: documentation, enhancement

#57 [AMBARI-25012] Log Search UI: cannot save filters + select all selecting the ovirrides as well
  ambari-logsearch-web/src/app/components/action-menu/action-menu.component.html
  ambari-logsearch-web/src/app/components/action-menu/action-menu.component.ts
  ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.ts
Labels: web

#58 [AMBARI-25016] [Log Search UI] There is console error about TimeZonePicker initialisation
  ambari-logsearch-web/src/app/components/timezone-picker/timezone-picker.component.html
Labels: web

#59 [AMBARI-25015] [Log Search UI] Cluster search param added by default when the app loaded on service logs screen
  ambari-logsearch-web/src/app/components/filters-panel/filters-panel.component.ts
  ambari-logsearch-web/src/app/components/search-box/search-box.component.html
  ambari-logsearch-web/src/app/components/search-box/search-box.component.spec.ts
Labels: web

#60 [AMBARI-25017] [Log Search UI] Replace Log Search favicon with Ambari's favicon
  ambari-logsearch-web/src/favicon.ico
Labels: web

#61 [AMBARI-25026] [Log Search UI] Audit log list: missing event time value in the log list
  ambari-logsearch-web/src/app/components/logs-container/logs-container.component.html
Labels: web

#63 AMBARI-25054 - LogSearch - In configuration Editor page, under validator section, component Name suggestions are always over hiding with "livy2_server" component name.
  ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.html
Labels: bug, web

#64 AMBARI-25067. Upgrade to Solr version 7.6.0
  ambari-logsearch-server/src/main/configsets/audit_logs/conf/solrconfig.xml
  ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-logsearch-server/src/main/configsets/logsearch_metadata/conf/solrconfig.xml
  docker/Dockerfile
  docker/cloud-docker-compose.yml
  docker/docker-compose.yml
  docker/logsearch-docker.sh
  docker/solr.yml
  docker/sso.yml
  pom.xml
Labels: enhancement
